html, body {
    margin: 0;
    height: 10000px;//%;
    font-size: 22px;
}

main {
    height: 1000px;
    border: 6px solid crimson;
    position: absolute;
}
#form-1 {
}

#text-input-1 {
    width: 600px;
    height: 25px;
}

#output-div {
    margin-top: 20px;
    display: inline-block;
    border: 3px solid red; 
    width: 480px; height: 80px;
}

#sticky-container {
    margin-top: 25px;
    display: inline-block;
    border: 3px dotted green;
    text-align: center;
    height: 90%;
    

}

#sticky-div {
    
    position: -webkit-sticky;
    position: sticky;
    display: inline-block;
    width: 80%;
    height: 50%;
    border: 3px dotted blue;

}