html, body {
    margin: 0;
    height: 10000px;
    border: 10px solid cornflowerblue;
    font-size: 22px;

}

main {
    height: 1000px;
    border: 6px solid crimson;
    position: static;
}
#form-1 {
}

#text-input-1 {
    width: 600px;
    height: 25px;
}

#output-div {
    margin-top: 20px;
    display: inline-block;
    border: 3px solid red; 
    width: 400px; 
    height: 46%;
    overflow-wrap: break-word;
}

#sticky-container {
    margin-top: 25px;
    display: inline-block;
    border: 3px dotted green;
    text-align: center;
    height: 50%;
    

}

#sticky-div {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: inline-block;
    width: 80%;
    height: 30%;
    border: 3px dotted blue;
}

.display-practice-div {
    background-color: yellow;
    color: black;
    display: inline-block;
    border: 3px dotted darkkhaki;
}